@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


body {
  background-color: #f5eec2;
  display: flex;
  font-family: 'Josefin Sans', cursive;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #39395f;
}

/* a {
  border-style: groove;
} */
.App {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #416a59;
  /* color:#416a59; */
  /* min-height: max-content; */
  /* color: rgb(126, 45, 45); */
  padding-bottom: 1em;
}
div.chatBox {
  /* background-color: grey; */
  display: flex;
  justify-content: left;
  /* background-color: #2F5C8F; */
  align-items: center;
  align-self: baseline;
  /* margin-top: 1em; */
  margin-bottom: 1em;
  padding: 20px;
}
/* .chatPage {
  background: white;
}
.list-group.list-group-flush {
  background: white;
} */
/* .chatPage {
  display: block;
  justify-content: center;
} */
.usersBox {
  display: flex;
  margin-top: 1em;
  padding-top: 1em;
  padding-right: 1em;
  text-align: center;
  border-style: solid;
  border-color: #060709;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}
.userBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  background-color: #a9c25d;

}
.avatarImage {
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 6rem;
}
.messageBox {
  color: #416a59;
}
button {
  background-color: #73a24e;
  margin-left : 2em;
}
.submitButton {
  margin-top: 1em;
}
button:hover {
  background-color: #a9c25d;

}
button.deleteButton {
  display: flex;
  align-self: center;
}
.homeScreen {
  margin-top : 2em;
  border-style: solid;
  background-color: #a9c25d;
  padding: 1em 1em 1em 1em;
}
.loginScreen {
  margin-top : 2em;
  border-style: solid;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color:#a9c25d;
}
.newComment {
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  flex-direction: column;
}
/* .App-header {
  background-color: #14365d;
} */