@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {

  /* display: flex; */
  background-color: #CCDAD1;
  background-image: url(background.jpg);
  background-position:top;
  font-family: 'Josefin Sans', cursive;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #38302E;

 /* Center the image */
  /* background-repeat: no-repeat; Do not repeat the image */
  /* background-size: cover; Resize the background image to cover the entire container */
}
div.list-group {
  /* background: rgba(145, 155, 183, 0.2); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.App {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #788585;
  padding-bottom: 1em;
}

.chatBox {
  display: inline-flex;
  align-self: stretch;
  padding: 20px;
  flex-wrap: nowrap;
  flex-direction: row;
  width: auto;
  align-items: center;
  margin-top: -1em;
}

.usersBox {
  display: flex;
  background-color:rgba(145, 155, 183, 0.4);
  padding-top: 1em;
  padding-right: 1em;
  text-align: center;
  justify-content: center;
  border-style: solid;
  border-color: #38302E;
  flex-direction: row;
  flex-wrap: wrap;
}
.userBox {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.avatarImage {
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 6rem;
}
button {
  background-color: #9CAEA9;
  margin-bottom: 0.5em;
}
.submitButton {
  margin-top: 1em;
}
button:hover {
  background-color: #CCDAD1;

}
button.deleteButton {
  display: flex;
  align-self: center;
  margin-left: 1em;
}
.homeScreen {
  border-style: solid;
  background-color:rgba(145, 155, 183, 0.4);
  padding: 1em 1em 1em 1em;
}
.loginScreen {
  border-style: solid;
  padding-bottom: 1em;
  padding-top: 1em;
  color : #171616;
  background-color:rgba(145, 155, 183, 0.4);
}
.loginForm {
  margin-bottom : 1em;
}
.newComment {
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  flex-direction: column;
}